h1 {
    font-size: 32px;
}

div {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
    margin: auto;
    width: 50%
}

.firstH1 {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding-bottom: 10px;
    width: 900px
}

div .firstP {
    width: 900px;
    font-size: 24px;
    padding-bottom: 10px;
}

.secondH1 {
    font-size: 24px;
}

.firstUL {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    white-space: pre-line;
    width: 900px;
}

.gehaktbroodfoto {
    padding-bottom: 10px;
}

.tipborder {
    border: 25px solid #def6ed;
    background-color: #def6ed;
    font-size: 20px;
    width: 900px;
}
