h1 {
    font-family: Roboto;
    font-size: 40px;
    text-align: left;
    width: 900px;
    padding-bottom: 15px;
    position: relative;
    left: 500px;
}

p {
    font-family: Roboto;
    font-size: 25px;
    text-align: left;
    padding-left: 500px;
    padding-bottom: 15px;
}

.firstH1 {
    border-bottom: 1px solid rgb(150, 150, 150);
}

.secondH1 {
    font-size: 30px;
}

.firstUL {
    font-family: Roboto;
    font-size: 20px;
    text-align: left;
    padding-left: 550px;
    padding-bottom: 20px;
    white-space: pre-line;
}

.gehaktbroodfoto {
    padding: 10px;
    position: absolute;
    top: 1275px;
    left: 505px;
    width: 700px;
    height: 700px;
    padding-bottom: 20px;
}

.tipclass {
    position: absolute;
    top: 2000px;
    border: 1px solid lightseagreen;
}