h1 {
    color: blue;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

div.first h2{
    color: red;
    padding-top: 20px;
}

div.first p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.first{
    background-color: cyan;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

div.second h2{
    color: green;
}

div.second{
    background-color: rgb(189, 183, 107);
    margin-left: 50px;
}